.svg-logo-red {
  position: relative;
  top: 3px;
  display: inline-block;
  background: url("../img/svg/logo-red.svg") no-repeat 0 0 / 125px 55px;
  width: 125px;
  height: 55px;
}

.svg-logo-img-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/logo-img-darkgreen.svg") no-repeat 0 0 / 115px 120px;
  width: 115px;
  height: 120px;
}

.svg-logo-text-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/logo-text-darkgreen.svg") no-repeat 0 0 / 110px 70px;
  width: 110px;
  height: 70px;
}

.svg-search {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/search.svg") no-repeat 0 0 / 16px 16px;
  width: 16px;
  height: 16px;
}

.svg-user {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/user.svg") no-repeat 0 0 / 16px 16px;
  width: 16px;
  height: 16px;
}

.svg-instagram-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/instagram-black.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-instagram-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/instagram-white.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-instagram-darkgreen {
  position: relative;
  top: 4px;
  display: inline-block;
  background: url("../img/svg/instagram-darkgreen.svg") no-repeat 0 0 / 20px 20px;
  width: 20px;
  height: 20px;
}

.svg-facebook-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/facebook-black.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-facebook-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/facebook-white.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-facebook-darkgreen {
  position: relative;
  top: 4px;
  display: inline-block;
  background: url("../img/svg/facebook-darkgreen.svg") no-repeat 0 0 / 20px 20px;
  width: 20px;
  height: 20px;
}

.svg-whatsapp-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/whatsapp-black.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-whatsapp-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/whatsapp-white.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-whatsapp-darkgreen {
  position: relative;
  top: 4px;
  display: inline-block;
  background: url("../img/svg/whatsapp-darkgreen.svg") no-repeat 0 0 / 20px 20px;
  width: 20px;
  height: 20px;
}

.svg-long-arrow-right-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-right-black.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}

.svg-long-arrow-right-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-right-white.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}

.svg-long-arrow-right-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-right-darkgreen.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}

.svg-long-arrow-left-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-left-darkgreen.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}

.svg-catering-arrow-right-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-right-darkgreen.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}

.svg-catering-arrow-left-darkgreen {
  position: relative;
  display: inline-block;
  background: url("../img/svg/long-arrow-left-darkgreen.svg") no-repeat 0 0 / 24px 12px;
  width: 24px;
  height: 12px;
}


.svg-chevron-left-black {
  position: relative;
  top: 3px;
  right: 1px;
  display: inline-block;
  background: url("../img/svg/chevron-left-black.svg") no-repeat 0 0 / 9px 18px;
  width: 9px;
  height: 18px;
}

.svg-chevron-left-white {
  position: relative;
  top: 3px;
  right: 1px;
  display: inline-block;
  background: url("../img/svg/chevron-left-white.svg") no-repeat 0 0 / 9px 18px;
  width: 9px;
  height: 18px;
}

.svg-chevron-left-darkgreen {
  position: relative;
  top: 4px;
  display: inline-block;
  background: url("../img/svg/chevron-left-darkgreen.svg") no-repeat 0 0 / 25px 45px;
  width: 25px;
  height: 45px;
}

.svg-chevron-right-black {
  position: relative;
  top: 3px;
  left: 1px;
  display: inline-block;
  background: url("../img/svg/chevron-right-black.svg") no-repeat 0 0 / 9px 18px;
  width: 9px;
  height: 18px;
}

.svg-chevron-right-white {
  position: relative;
  top: 3px;
  left: 1px;
  display: inline-block;
  background: url("../img/svg/chevron-right-white.svg") no-repeat 0 0 / 9px 18px;
  width: 9px;
  height: 18px;
}

.svg-chevron-right-darkgreen {
  position: relative;
  top: 4px;
  display: inline-block;
  background: url("../img/svg/chevron-right-darkgreen.svg") no-repeat 0 0 / 25px 45px;
  width: 25px;
  height: 45px;
}

.svg-circle-chevron-left-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/circle-chevron-left-black.svg") no-repeat 0 0 / 45px 45px;
  width: 45px;
  height: 45px;
}

.svg-circle-chevron-left-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/circle-chevron-left-white.svg") no-repeat 0 0 / 45px 45px;
  width: 45px;
  height: 45px;
}

.svg-circle-chevron-right-black {
  position: relative;
  display: inline-block;
  background: url("../img/svg/circle-chevron-right-black.svg") no-repeat 0 0 / 45px 45px;
  width: 45px;
  height: 45px;
}

.svg-circle-chevron-right-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/circle-chevron-right-white.svg") no-repeat 0 0 / 45px 45px;
  width: 45px;
  height: 45px;
}

.svg-download-black {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/download-black.svg") no-repeat 0 0 / 18px 18px;
  width: 18px;
  height: 18px;
}

.svg-download-darkgreen {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/download-darkgreen.svg") no-repeat 0 0 / 18px 18px;
  width: 18px;
  height: 18px;
}

.svg-info-black {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/info-black.svg") no-repeat 0 0 / 20px 20px;
  width: 20px;
  height: 20px;
}

.svg-info-darkgreen {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/info-darkgreen.svg") no-repeat 0 0 / 20px 20px;
  width: 20px;
  height: 20px;
}

.svg-cart-darkgreen {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/cart-darkgreen.svg") no-repeat 0 0 / 30px 30px;
  width: 30px;
  height: 30px;
}

.svg-menu-darkgreen {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/menu-darkgreen.svg") no-repeat 0 0 / 25px 25px;
  width: 25px;
  height: 25px;
}

.svg-plus-white {
  position: relative;
  top: 2px;
  display: inline-block;
  background: url("../img/svg/plus-white.svg") no-repeat 0 0 / 23px 23px;
  width: 23px;
  height: 23px;
}

.svg-minus-white {
  position: relative;
  display: inline-block;
  background: url("../img/svg/minus-white.svg") no-repeat 0 0 / 23px 23px;
  width: 23px;
  height: 23px;
}

@media (max-width: 991px) {
  .svg-chevron-left-darkgreen,
  .svg-chevron-right-darkgreen {
    background-size: 15px 25px;
    width: 15px;
    height: 25px;
  }

  .svg-plus-white,
  .svg-minus-white {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
  }

  .svg-chevron-left-black,
  .svg-chevron-right-black {
    top: 0;
    background-size: 5px 10px;
    width: 5px;
    height: 10px;
  }

  .svg-instagram-white,
  .svg-facebook-white,
  .svg-whatsapp-white {
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
  }

  .svg-logo-red {
    background-size: 95px 40px;
    width: 95px;
    height: 40px;
  }

  .svg-long-arrow-right-darkgreen {
    background-size: 12px 7px;
    width: 12px;
    height: 7px;
  }

  .svg-long-arrow-left-darkgreen {
    background-size: 12px 7px;
    width: 12px;
    height: 7px;
  }

  .svg-logo-img-darkgreen {
    background-size: 75px 75px;
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 767px) {
  .svg-long-arrow-right-white {
    background-size: 18px 9px;
    width: 18px;
    height: 9px;
  }

  .svg-instagram-white,
  .svg-facebook-white,
  .svg-whatsapp-white {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
  }

  .svg-logo-red {
    background-size: 110px 50px;
    width: 110px;
    height: 50px;
  }

  .svg-instagram-darkgreen,
  .svg-facebook-darkgreen,
  .svg-whatsapp-darkgreen {
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
  }

  .svg-logo-img-darkgreen {
    background-size: 85px 85px;
    width: 85px;
    height: 85px;
  }
}

@media (max-width: 575px) {
  .svg-logo-red {
    background-size: 95px 40px;
    width: 95px;
    height: 40px;
  }
}
